.daynis-timer-container {
    background-color: #c4ff0d; /* Ensure background color is set */
    color: #333;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 15px; /* Adjust padding for aesthetics */
}

.daynis-timer-container h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
    margin-bottom: 15px; /* Adjust bottom margin */
    font-size: 1.8em;
}

.daynis-timer-container ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Flex layout for horizontal alignment */
    justify-content: center; /* Center items horizontally */
    margin-top: 15px; /* Space between header and countdown */
}

.daynis-timer-container li {
    display: flex; /* Flex layout for each item */
    flex-direction: column; /* Stack numbers and labels vertically */
    align-items: center; /* Center items */
    font-size: 1.2em;
    margin: 0 20px; /* Space between each countdown item */
}

.daynis-timer-container li span {
    display: block;
    font-size: 3rem; /* Font size for numbers */
    margin-bottom: 20px; /* Space between numbers and labels */
}

.daynis-timer-container .emoji {
    display: none;
    padding: 1rem;
}

.daynis-timer-container .emoji span {
    font-size: 3rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    .daynis-timer-container h1 {
        font-size: 1.5em;
    }

    .daynis-timer-container li {
        font-size: 1em;
        margin: 0 10px; /* Adjusted margin for smaller screens */
    }

    .daynis-timer-container li span {
        font-size: 2.5rem; /* Smaller font size for numbers on smaller screens */
        margin-bottom: 10px; /* Adjusted margin for smaller screens */
    }
}
