.daynis-timer-container {
  color: var(--daynis-timer-text-color, #333);
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
  padding: 0;
  background-color: var(--daynis-timer-background-color, #c4ff0d);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding-bottom: 10px;
}

.daynis-timer-container h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.daynis-timer-container ul {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center; /* Adjusted for closer spacing */
  padding: 0;
}

.daynis-timer-container li {
  font-size: 1rem;
  padding: 0 10px; /* Adjusted padding for closer spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daynis-timer-container li span {
  display: block;
  font-size: 2.5rem;
  margin-bottom: 3px;
}

.daynis-timer-container .emoji {
  display: none;
}